@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


@keyframes arrow-spin {
  from{
      opacity: 0.3;
      background-color: black;
      color: rgba(0, 0, 0, 0.5);
      text-align: center;
      background: 
      linear-gradient(white, white) padding-box,
      linear-gradient(to right,var(--culoare-footer) 0% , var(--culoare-footer) 25% , var(--culoare-border-navigatie) 25% , var(--culoare-border-navigatie) 75%,
                                                          var(--culoare-footer) 50% , var(--culoare-footer) 75% ) border-box;
      border-radius: 50%;
      font-size: 28px;
      border: 5px solid transparent;
      box-shadow: 0px 0px 4px 4px grey;
      text-shadow: 0px 0px 4px black;
      transform: translateY(30%)  rotateZ(360deg);
  }

  to{
      opacity: 1;
      background-color: black;
      color: rgba(0, 0, 0, 0.5);
      text-align: center;
      background: 
      linear-gradient(white, white) padding-box,
      linear-gradient(to right,var(--culoare-border-navigatie) 0% , var(--culoare-border-navigatie) 25% , var(--culoare-footer) 25% , 
              var(--culoare-footer) 75%, var(--culoare-border-navigatie) 50% , var(--culoare-border-navigatie) 75% ) border-box;
      border-radius: 50%;
      font-size: 28px;
      border: 5px solid transparent;
      box-shadow: 0px 0px 4px 4px grey;
      text-shadow: none;
      
  }
}

.arrow-design{
  opacity: 0.3;
  background-color: black;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  background: 
  linear-gradient(white, white) padding-box,
  linear-gradient(to right,var(--culoare-footer) 0% , var(--culoare-footer) 25% , var(--culoare-border-navigatie) 25% , var(--culoare-border-navigatie) 75%, 
                           var(--culoare-footer) 75% , var(--culoare-footer) 100% ) border-box;
  border-radius: 50%;
  font-size: 28px;
  border: 5px solid transparent;
  box-shadow: 0px 0px 4px 4px grey;
  text-shadow: 0px 0px 9px black;
}

.arrow-design:hover{
  cursor: pointer;
  animation-name: arrow-spin;
  animation-duration: 700ms;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  transform: rotateZ(-360deg);
}

.arrow-container{
  width: 4%;
}


/* Basic link styling */
a {
  position: relative;
}

/* Visited link styling */
a:visited {
  color: var(--culoare-footer);
}

/* Hover effect with color blob */
a[href^="http"]:hover {
  background-image: radial-gradient(ellipse at center, orange 0%, orange 40%, transparent 80%, transparent 100%);
  background-size: 0% 0%; /* Initial size of the oval */
  transition: background-size 2s ease-in-out; /* Add transition for smooth animation */
}

/* Change background size to make the oval grow */
a[href^="http"]:hover {
  background-size: 100% 100%; /* Final size of the oval */
}

/* Adding a border on click (:active state) */
a[href^="http"]:active {
  border: 1px solid red; /* Adjusting border color to be blue */
  padding: -1px; /* Adjust padding to compensate for the border thickness without shifting content */
}

/* Styling the element before the link */
main a[href^="http"]::before {
  content: "⮳"; /* Simbolul pentru linkuri externe */
  font-size: 150%; /* Mărimea fontului pentru simbol */
  margin-right: 0.3em;
  color: orange; /* Default color */
  transition: color 1s ease-in-out; /* Adding transition for smooth color change */
}

/* Change color of element before the link on hover */
main a[href^="http"]:hover::before {
  color: red; /* Change color to red on hover */
}



.arrow-a{
  bottom:0.1em;
  right: 0.3em;
  left: 0.3em;
  margin: 0;
  padding: 0;
  position: fixed;
}

#videoPlayer {
  background-color: black; 
  margin-top: 5%;
  width: 100%;
}


track {
  background-color: transparent;
  color: white;
  text-shadow: 2px 2px 2px black;
}

video::cue {
  color: white;
  background-color: transparent;
  text-shadow: 2px 2px 2px black;
}
  
  #tab-orar td, #tab-orar th{
    border: 1px solid black;
  }

  #tab-orar thead th:nth-child(2n+1){
    background-color: var(--culoare-border-navigatie);
  }
  #tab-orar thead th:nth-child(2n){
    background-color: var(--culoare-footer);
  }

  #tab-orar{
    margin: 0 auto;
  }
