html{
    font-size: 16px;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    --culoare-text: #000000;
    --culoare-fundal: #FFFFFF;
    --culoare-border-navigatie: #FF742B;
    --culoare-highlight: #FF684A;
    --culoare-footer: #FFC14A;
    --culoare-titlu: #FFA74A;
    margin: 0%;
    padding: 0;
}


.paragraph_design {
    font-size: 1.1em;
    font-weight: lighter;
    color: var(--culoare-text);
    font-style: normal;
}

.subTitle {
    color: var(--culoare-highlight);
}

.design_h3 {
    color: var(--culoare-titlu);
}

.btn-design {
    background-color: white;
    background-image: url(../images/right-arrow.png);
    width: 37px;
    height: 35px;
    border-radius: 50%;
}

.contain-btn {
    vertical-align: middle;
    padding-inline: 48%;
    padding-bottom: 1%;
    padding-top: 1%;
}


#grid-pagina{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);   /*1fr 1fr 1fr ;*/
    grid-template-areas: "welcome welcome welcome"
                         "welcome welcome welcome"
                         "timetable timetable videos"
                         "users status videos "
                         "users status videos "
                         "announces eveniments webdata"
                         ;
}


#grid-pagina>*{
    padding: 1em;
}

#grid-pagina>figure{
    margin: 0;
}

#videos{
    grid-area: videos;
}

#welcome{
    grid-area: welcome;
}
#eveniments{
    grid-area: eveniments;
}
#announces{
    grid-area: announces;
}
#timetable{
    grid-area: timetable;
}
 
#users{
    grid-area: users;
}
#status{
    grid-area: status;
}
#webdata{
    grid-area: webdata;
}

.contain-img-writing {
   
    text-align: center;
}

.fig-img{
    width: 50%;
}

.price-container {
    margin-top: 7px;
    padding-left: 0px;
    padding-left: 8%;
}

.design-img {
    width: 200px;
    border: 2px solid #000000;
}

.img-link:hover {
    opacity: 0.5;
    cursor: pointer;
}

.contain-main {
    background-color: whitesmoke;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border: 3px solid var(--culoare-highlight);
}

.contain-section {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 1rem;
    box-shadow: 3px 3px 3px var(--culoare-highlight);
}

.taburi-iframe {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}


.iframe-text {
    color: var(--culoare-text);
    font-style: normal;
    font-size: 1em;
    border-left: 4px solid var(--culoare-highlight);
    background-color: #FFA74A;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 3px;
    padding-bottom: 5px;
    border-top: 2px var(--culoare-highlight);
    border-bottom: 2px var(--culoare-highlight);
    border-right: 2px var(--culoare-highlight);
    border-top-right-radius: 50%;
    text-align: center;
    transition: text-shadow 1.5s, color 1.5s, border-left 1.5s;
}
.iframe-text:hover{
    text-shadow: 5px 0px 10px white;
    color: white;
    border-left: 2px solid white;
}

.iframe-text-near-video {
    width: 25%;
    font-size: 0.7em;
}

.iframe-border{
    border: 4px solid var(--culoare-highlight);
    
}

.questions-contain {
    padding-bottom: 5px;
    padding-top: 5px;
}

.questions-contain summary{
    list-style-type:none;
}


.header-contain {
    background-color: var(--culoare-border-navigatie);
    width: 100%;
    padding-top: 0.1%;
    padding-left: 1%;
    padding-bottom: 1%;
}

.header-contain img{
    width: 28x;
    height: 28px;
}

figure{
    text-align: center;
}

.main-list{
    list-style-type: none;
}

.sub-list{
    list-style-type: none;
}

.design-hr{
    border: 7px solid var(--culoare-border-navigatie);
}

.footer-contain{
    padding-bottom: 2px;
    padding-top: 5px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px whitesmoke;
    opacity: 0.7;
    border: 2px solid var(--culoare-footer);
}

.align-footer-text{
    padding-left: 20px;
}

.footer-ul{
    list-style-type: none;
    margin: 0;
}

.footer-img{
    width: 15px;
    height: 15px;
}

.center-text{
   padding-left: 5px;
}

.footer-a{
    display: inline-flex;
    text-decoration: none;
}

.footer-contain li{
    margin-bottom: 1px;
}

.question-div{
    font-size: 20px;
    box-shadow: 2px 2px 4px black;
    padding-bottom: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    cursor: pointer;
}

.table-container{
    text-align: center;
}

.center-workH{
    text-align: center;
}



/* @media screen and (max-width:800px){

    html{
        font-size: 12px;
    }

    #grid-pagina{
        display: block;
    }
} */

