.main-nav {
  background-color: orangered;
  --menu-height: 2.5em;
  --li-width: 150px;
  height: var(--menu-height);
  margin: 0;
  padding: 0;
}
.main-nav #hamburger, .main-nav #ch-menu {
  display: none;
}
.main-nav .main-list {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.main-nav .main-list li {
  width: var(--li-width);
  height: var(--menu-height);
  text-align: center;
}
.main-nav .main-list li div, .main-nav .main-list li a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  line-height: var(--menu-height);
  color: black;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 1s linear;
}
.main-nav .main-list li div:hover, .main-nav .main-list li a:hover {
  color: chocolate;
}
.main-nav .main-list li:hover ul {
  display: block;
  position: absolute;
  z-index: 100;
  margin: 0;
  padding: 0;
  animation: sub-menu-animation 1s linear 1 forwards;
  transform-origin: left top;
}
.main-nav .main-list li ul {
  list-style-type: none;
  display: none;
  transition: all 1s linear;
  background-color: orangered;
  opacity: 0;
  transform: scaleY(0);
}

@keyframes sub-menu-animation {
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}