<header class="header-contain" id="h1" >
        <h1>Metarax</h1>
    </header>
    <nav class="main-nav">
      <label id="hamburger" for="ch-menu">
        <img src="resources/images/hamburger2.jpeg"  alt="menu">
      </label>
      <input type="checkbox" id="ch-menu">
        <ul class="main-list">
            <li><div id="home">
              <span class="fas fa-regular fa-house">
              </span>
              Home
            </div>
                <ul class="sub-main-list">
                    <li><a href="#welcome">Welcome</a></li>
                    <li><a href="#eveniments">Eveniments</a></li>
                    <li><a href="#announces">Announces</a></li>
                    <li><a href="#gallery">Photo gallery</a></li>
                    <li><a href="videos">Helpfull videos</a></li>
                    <li><a href="#timetable">When you can find us</a></li>
                    <!-- <li><a href="#frequent-q">Frequent questions</a></li> -->
                    <li><a href="#users">Online users</a></li>
                    <li><a href="#status">Your status</a></li>
                    <li><a href="#webdata">Website Info</a></li>
                </ul>
            </li>
            <li><a href="#"><div id="aboutus">About us</div></a>
            </li>
            <li><a href="#"><div id="shop">Shop</div></a>
            </li>
            <li><a href="#"><div id="contactus">Contact us</div></a></li>
            <li><a href="#"><div id="subscribe">Subscribe</div></a></li>
        </ul>
    </nav>