<script src="/resources/js/tema.js"></script>
<header class="header-contain" id="h1" >
        <h1>Metarax</h1>
        <div class="theme-toggle" id="theme-toggling">
          <button id="switch-theme" class="btn btn-outline-dark btn-lg">
            
            <i class="fas fa-sun"></i>
            <i class="fas fa-moon"></i>
        </button>
        </div>
        
    </header>
    <nav class="main-nav">
      <label id="hamburger" for="ch-menu">
        <img src="resources/images/hamburger2.jpeg"  alt="menu">
      </label>
      <input type="checkbox" id="ch-menu">
        <ul class="main-list">
            <li><div id="home">
              <span class="fas fa-regular fa-house">
              </span>
              Home
            </div>
                <ul>
                    <li><a href="/index#welcome">Welcome</a></li>
                    <li><a href="/index#eveniments">Eveniments</a></li>
                    <li><a href="/index#announces">Announces</a></li>
                    <li><a href="/index#gallery">Photo gallery</a></li>
                    <li><a href="/indexvideos">Helpfull videos</a></li>
                    <li><a href="/index#timetable">When you can find us</a></li>
                    <!-- <li><a href="#frequent-q">Frequent questions</a></li> -->
                    <li><a href="/index#users">Online users</a></li>
                    <li><a href="/index#status">Your status</a></li>
                    <li><a href="/index#webdata">Website Info</a></li>
                </ul>
            </li>
            <li><a href="#"><div id="aboutus">About us</div></a>
            </li>
            <li>
              <div id="shop">
                Shop</div>
              <ul>
                <li><a href="/myProducts">All products</a></li>
                <li><a href="">Unelte de gradina</a></li>
                <li><a href="">Unelte de bucatarie</a></li>
                <li><a href="">Unelte generale</a></li>
              </ul>
            </li>
            <li><a href="#"><div id="contactus">Contact us</div></a></li>
            <li><a href="#"><div id="subscribe">Subscribe</div></a></li>
        </ul>
    </nav>